<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local" value="C:\Users\aldelaro5\RiderProjects\Il2CppInterop\bin\NuGet" />
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
    <add key="Samboy" value="https://nuget.samboy.dev/v3/index.json" />
  </packageSources>
</configuration>
