<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
      <clear />
      <add key="LocalHarmonyX" value="C:\Users\aldelaro5\RiderProjects\HarmonyX\Harmony\bin\debug" />
      <add key="LocalMonoMod" value="C:\Users\aldelaro5\RiderProjects\MonoMod\artifacts\package\debug" />
      <add key="BepInExLibs" value="https://nuget.bepinex.dev/v3/index.json" />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>